<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{BookTalk}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
    <ul>
        <li><a href="/">Home</a></li>
         <li><a href="/books">Books</a></li>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <li><button class="no-button" id="logout-button">logout</button></li>
        {{else}}
        <li><a href="/login">Login</a></li>
        {{/if}}
    </ul>
</nav>
    {{{body}}}
     {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
</html>